/*@media (min-width: 992px) {*/
/*.page-content-wrapper .page-content {*/
/*padding-top: 0;*/
/*}*/
/*}*/

/*.search-bar*/
/*{*/
/*padding: 20px;*/
/*margin-bottom: 20px;*/
/*background-color: #fff;*/
/*}*/

@media (max-width: 767px) {
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu {
        margin-right: -80px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu {
        margin-right: -120px;
    }
}
.page-header.navbar .page-logo .logo-default {
    margin: 9px 10px 0;
    width: 70%;
}
/*.page-header.navbar {*/
    /*background: #F8FAF9;*/
/*}*/