body {
    background: #F8FAF9;
}

.page-header.navbar .page-actions {
    margin: 29px 0 15px 10px;
}

a.top-menu-item {
    line-height: 20px;
    text-decoration: none;
    padding: 10px 10px 18px;
    margin-top: 4px;
    color: #aeb2c4;
}

a.top-menu-item span {
    color: #aeb2c4;
    font-size: 14px;
    font-weight: 600;
}

a.top-menu-item:hover, .a.top-menu-item:hover .font-icon, .a.top-menu-item:hover:after, .dropdown.dropdown-typical.open a.top-menu-item, .dropdown.dropdown-typical.open a.top-menu-item .font-icon, .dropdown.dropdown-typical.open a.top-menu-item:after {
    color: #00a8ff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
    border-radius: 50% !important;
}

/*customization to be wide page --start*/
.page-header-fixed .page-container {
    padding-top: 0px;
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 0px;
    }
}

.page-head {
    margin-bottom: 10px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-borrower > .dropdown-menu {
    width: 275px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-borrower > .dropdown-menu .dropdown-menu-list > li .subject {
    display: block;
    margin-left: 6px;
}

@media (min-width: 1200px) {
    .page-container {
        width: 1200px;
        margin: 0px auto;
        margin-top: 95px !important;
    }
}

@media (max-width: 767px) {
    .page-container {
        padding: 20px 10px 0;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .page-sidebar {
        width: 90%;
    }
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    padding: 10px 10px 10px;
}

@media (min-width: 992px) {

    .page-header.navbar {
        padding-right: 175px;
        padding-left: 175px;
    }

}

@media (max-width: 767px) {

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu {
        margin-right: 20px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu {
        margin-right: -80px;
    }

    .portlet-content .form .form-body {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.page-header.navbar {
    border-bottom: 1px solid #e9ecf3;
}

.page-header.navbar .top-menu .navbar-nav {
    margin-right: 0;
}

.page-header.navbar .page-logo .logo-default {
    margin: 14px 10px 0;
    width: 60%;
}

.breadcrumb .fa-home {
    font-size: 20px;
    top: 2px;
}

.breadcrumb .separator {
    background: 0 0;
    padding: 0 5px 15px;
    margin: 0;
    color: #1b2732;
}

.breadcrumb a {
    /*color: #1b2732;*/
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #1d4e4b;
    text-decoration: none;
}

.m-top-30 {
    margin-top: 20px;
}

.m-top-0 {
    margin-top: 0 !important;
}

.page-sidebar-menu > li.divider {
    background: #f1f3f6;
    height: 1px;
    margin: 0 20px;
    overflow: hidden;
}

.page-sidebar-menu > li.divider-margin {
    margin: 10px 0;
}

.page-content-agent {
    padding: 0 0 0 20px;
    margin-top: 0;
}

.portlet-content .portlet-body {
    min-height: 200px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

@media (min-width: 992px) {

    .page-content-agent {
        padding: 0;
        margin-left: -30px;
    }
}

.tell_us {
    margin-top: 20px;

    color: #7d7d7d;
    font-size: 24px;
    font-weight: 600 !important;
}

.card-icon-signup {
    margin-bottom: 40px;
}

/*@media (min-width: 992px) {*/
/*.page-sidebar {*/
/*width: 205px;*/
/*}*/
/*}*/

.col-percent-9 {
    width: 9%;
}

.bootbox-form{
    margin-left: 20px;
}
.bootbox-form .checkbox
{
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}
.checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);

}

.page-sidebar .page-sidebar-menu>li p
{
    margin-left: -3px;
    padding-left: 15px;
    color: #5b9bd1;
    font-size: 16px;
    padding: 12px 15px;
    margin: 1px 0 0;
}

.static-info {
    margin-bottom: 20px;
}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}
hr.style17:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.padding-30
{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    padding: 10px 10px 10px;
}

.second-nav-bar{
    width: 105%;
    position: relative;
    left: -3.5%;
}

.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    margin:0px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
    background:none;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
    margin:0px;
}


.background-white
{
    background: #fff;
}
.padding-b-30
{
    padding-bottom: 30px;
}

h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label
{
    font-size: 55%;

}

.table.table-subscription>tbody>tr>td
{
    vertical-align: middle;
    padding: 25px 10px;
}