.page-header.navbar .page-actions {
    margin: 29px 0 15px 10px;
}

a.top-menu-item {
    line-height: 20px;
    text-decoration: none;
    padding: 10px 10px 18px;
    margin-top: 4px;
    color: #aeb2c4;
}

a.top-menu-item span {
    color: #aeb2c4;
    font-size: 14px;
    font-weight: 600;
}

a.top-menu-item:hover, .a.top-menu-item:hover .font-icon, .a.top-menu-item:hover:after, .dropdown.dropdown-typical.open a.top-menu-item, .dropdown.dropdown-typical.open a.top-menu-item .font-icon, .dropdown.dropdown-typical.open a.top-menu-item:after {
    color: #00a8ff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
    border-radius: 40% !important;
}

/*customization to be wide page --start*/
.page-header-fixed .page-container {
    padding-top: 0px;
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 0px;
    }
}
.page-head
{
    margin-bottom: 10px;
}
/*customization to be wide page --end*/