.login {
    background-color: #F8FAF9 !important;
    /*background-color: #fff !important;*/
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .content {
    background-color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 440px;
    margin: 80px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.login .content h4 {
    color: #555;
}

.login .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px 0;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .form-control {
    border: none;
    background-color: #fff;
    height: 44px;
    color: #8290a3;
    border: 1px solid #dde3ec;
}

.login .content .form-control:focus, .login .content .form-control:active {
    border: 1px solid #c3ccda;
}

.login .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1;
}

.login .content .form-control:-ms-input-placeholder {
    color: #8290a3;
}

.login .content .form-control::-webkit-input-placeholder {
    color: #8290a3;
}

.login .content select.form-control {
    padding-left: 9px;
    padding-right: 9px;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 5px 30px 5px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.login .content .form-actions > .btn {
    margin-top: -2px;
}

.login-options {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.login-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa !important;
}

.login-options .social-icons {
    float: right;
    padding-top: 3px;
}

.login-options .social-icons li a {
    border-radius: 15px 15px 15px 15px !important;
    -moz-border-radius: 15px 15px 15px 15px !important;
    -webkit-border-radius: 15px 15px 15px 15px !important;
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .form-actions .btn {
    font-weight: 600;
    padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
    /*font-weight: 800;*/
    /*padding: 10px 25px !important;*/
    /*color: #6c7a8d;*/
    /*background-color: #ffffff;*/
    /*border: none;*/
    /*color: #b9d55d;*/
}

.login .content .form-actions .btn-default:hover {
    background-color: #fafaff;
    color: #45b6af;
}

.login .content .forget-password {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 0;
}

.login .content .check {
    color: #8290a3;
}

.login .content .rememberme {
    margin-left: 8px;
}

.login .content .create-account {
    margin: 0 -40px -30px -40px;
    padding: 15px 0 17px 0;
    text-align: center;
    background-color: #3B3F51;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.login .content .create-account > p {
    margin: 0;
}

.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #c3cedd;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}

.login .content .form-actions {
    border-bottom: none;
}

.login .content {
    background: transparent;
}

@media (max-width: 440px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        width: 280px;
        margin-top: 10px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .forget-password {
        display: inline-block;
        margin-top: 20px;
    }

    .login-options .social-icons {
        float: left;
        padding-top: 3px;
    }

    .login .checkbox {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
        padding: 15px 6px 18px;
    }

    .custom-content {
        width: 90% !important;
        margin: 0px auto !important;
    }
}

@media (min-width: 992px) {
    .custom-content {
        background-color: transparent !important;
        /*padding: 0 !important;*/
        width: 60% !important;
        margin: 0px auto !important;
    }

    .navbar {
        min-height: 100px;
    }

    .page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
        padding-right: 175px;
        padding-left: 175px;
    }

    .page-header.navbar {
        padding-top: 20px;
        /*height: 95px;*/
        height: 100px;
    }

}

.page-header.navbar .page-logo .logo-default {
    margin: 0 10px 0;
    width: 70%;
}

@media (max-width: 767px) {
    .login .content .rememberme {
        margin-left: 0px;
        margin-top: 20px;
        display: block;
    }

    .login .content .forget-password {
        float: left;
        display: block;
        margin-top: 10px;
        margin-left: 30px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username {
        font-size: 11px;
        font-weight: 600;
    }

    .login .content .form-title {
        margin-bottom: 0px;
    }

    .login .content .form-actions {
        padding: 5px 30px 5px 30px;
    }

    .page-header.navbar .page-top {
        background: #F8FAF9;
    }

    .page-header.navbar .page-logo .logo-default {
        margin: 18px 10px 0;
    }
}

/* Custom Design */

.page-header.navbar {
    background: #F8FAF9;
    border-bottom: none;
}

.btn-header {
    border-color: #fff;
    padding: 9px 14px;
    font-weight: 800;
}

.btn-signin.active, .btn-signin:active, .btn-signin:hover, .open > .btn-signin.dropdown-toggle,
.btn-signin.active.focus, .btn-signin.active:focus, .btn-signin.active:hover, .btn-signin:active.focus,
.btn-signin:active:focus, .btn-signin:active:hover, .open > .btn-signin.dropdown-toggle.focus,
.open > .btn-signin.dropdown-toggle:focus, .open > .btn-signin.dropdown-toggle:hover, .btn-signin.focus,
.btn-signin:focus {
    color: #fff;
    background-color: #b9d55d;
    border-color: #e0e5e5;
}

.btn-signup.active, .btn-signup:active, .btn-signup:hover, .open > .btn-signup.dropdown-toggle,
.btn-signup.active.focus, .btn-signup.active:focus, .btn-signup.active:hover, .btn-signup:active.focus,
.btn-signup:active:focus, .btn-signup:active:hover, .open > .btn-signup.dropdown-toggle.focus,
.open > .btn-signup.dropdown-toggle:focus, .open > .btn-signup.dropdown-toggle:hover, .btn-signup.focus,
.btn-signup:focus {
    color: #fff;
    background-color: #56C0F0;
    border-color: #e0e5e5;
}

.top-right-btns {
    height: 75px;
    padding: 0 0 0 10px;
    padding: 10px 10px 18px;
    color: #777;
    line-height: 20px;
    width: 250px;
}

.btn-signin {
    color: #b9d55d;
}

.btn-signup {
    color: #56C0F0;
}

.content-public {
    margin-top: 80px;
}

.m-top-sign {
    margin-top: 0px !important;
}

.login_div {
    width: 400px !important;
}

.tell_us {
    margin-top: 20px;

    color: #7d7d7d;
    font-size: 24px;
    font-weight: 600 !important;
}

.icon-login-custom {
    color: #000 !important;
    font-size: 16px !important;
    padding-top: 5px !important;
}

.m-top-30 {
    margin-top: 30px;
}

.m-top-80 {
    margin-top: 80px;
}

.m-top-50 {
    margin-top: 50px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.no-padding {
    padding: 0 !important;
}

.form-wizard .steps {
    padding: 0;
    margin-bottom: 10px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.font-green-custom {
    color: #b9d55d !important;
}

.font-blue-custom {
    color: #56C0F0 !important;
}

.card-icon-signup {
    margin-bottom: 40px;
}

.card-title span {
    font-size: 18px;
    font-weight: 800;
}

.btn-green-custom {
    font-weight: 600;
    padding: 10px 25px !important;
    color: #6c7a8d;
    background-color: #b9d55d;
    color: #fff;
    border: none;
}