.site-header .site-header-shown {
  height: 40px;
  line-height: 40px;
}

.site-header .site-logo {
  margin-top: -5px;
}

.sign-box {
  max-width: 450px;
}

h1 {
  color: #7d7d7d;
  font-size: 24px;
  font-weight: 600 !important;
}

@media (min-width: 991px) {
  .o-or-divider:before {
    top: 30px;
  }

  .o-or-divider:after {
    top: 155px;
    padding-top: 70px;
  }

  .o-or-divider {
    color: #7d7d7d;
    font-size: 20px;
    font-weight: bold;
    padding-top: 115px;
  }
}

@media (min-width: 991px) {
  .o-or-divider:after,
  .o-or-divider:before {
    position: absolute;
    content: "";
    display: block;
    padding: 35px 0;
    border-left: 1px solid #7d7d7d;
    border-right: 1px solid #e0e0e0;
    left: 80px;
  }
}
@media (max-width: 991px) {
  .o-or-divider {
    margin-top: 20px;
  }
  .m-top-80
  {
    margin-top: 40px;
  }
  .img-icon-signup
  {
    width:100%;
  }
}

.text-muted {
  color: #7d7d7d;
}

.o-user-type-selection {
  /*font-size: 18pt;*/
  padding: 20px 0 40px;

  color: #7d7d7d;
  font-size: 20px;
  font-weight: 600 !important;
}

.container-fluid {
  /*width: 1000px;*/
  width: 70%;
  margin-bottom: 20px;
}
