.login {
    background-color: #F8FAF9 !important;
    /*background-color: #b9d55d !important;*/
}


.login .content h3 {
    /*color: #fff;*/
    color: #7d7d7d;
    text-align: center;
    font-size: 24px;
    font-weight: 600 !important;
}


.login .content .check, .login .content .forget-password {
    /*color: #fff;;*/
    color: #7d7d7d;
}